{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "endOfLine": "auto",
  "singleAttributePerLine": true,
  "align-comments": 80,
  "bracketSpacing": true
}
